{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock head %}
{% block title %}Posts{% endblock %}

{% block content %}
    <h1>Posts</h1>
    <input type="text" id="searchInput" onkeyup="searchPosts()" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <div>
        {% for post in post_list %}
            <!-- <li>
                <a href="{% url 'detail' post.id %}">{{ post.title }}</a>
            </li> -->
            <a href="{% url 'detail' post.id %}" class="post-container">
                <h2>{{ post.title }}</h2>
                <p>{{ post.subtitle }}</p>
                <small><b>Created On: </b>{{ post.created_on }}</small>
            </a>
        {% endfor %}
    </div>
    <script>
        function searchPosts() {
            var input = document.getElementById('searchInput').value.toLowerCase();
            var posts = document.getElementsByClassName('post-container');
    
            for (var i = 0; i < posts.length; i++) {
                var title = posts[i].getElementsByTagName('h2')[0].innerText;
                if (title.toLowerCase().indexOf(input) > -1) {
                    posts[i].style.display = "";
                } else {
                    posts[i].style.display = "none";
                }
            }
        }
    </script>
{% endblock content %}
