.post-container{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.post-container p{
    margin: 0;
    color: rgb(6, 6, 255);
}
a{
    text-decoration: none; 
    color: inherit;
}
#searchInput{
    margin: 1rem 0;
    width: 70%;
    border: 1px solid rgb(189, 189, 189);
}